@model IEnumerable<sait.Models.Orders>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dateOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dateOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUser)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
