@model sait.Models.Pizzas

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('~/images/pizzeria-back.jpg'); /* Замените на путь к вашему изображению */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            color: white;
            text-shadow: 2px 2px 4px #000;
        }

        .container {
            background-color: #EAE7DC;
            padding: 20px;
            border-radius: 15px;
            max-width: 800px;
        }

        .card {
            background-color: #D8C3A5;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .card-header {
            background-color: #8E8D8A;
            color: white;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            font-size: 1.5rem;
        }

        .card-body dt {
            font-weight: bold;
        }

        .card-body dd {
            margin-bottom: 10px;
        }

        .btn-primary {
            background-color: #E98074;
            border: none;
        }

            .btn-primary:hover {
                background-color: #e5533d;
            }

        .btn-secondary {
            background-color: #8ea133;
            border: none;
        }

            .btn-secondary:hover {
                background-color: #218838;
            }

        .btn-container {
            text-align: center;
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Pizzas Details
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.size)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.size)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.price)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.price)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.description)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.description)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.idCategory)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.idCategory)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.createDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.createDate)
                    </dd>
                </dl>
            </div>
            <div class="btn-container">
                <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</body>
</html>
